body{
    margin-top: 1vmax;
    margin-left: 1vmax;
    text-align: center;
}
   
h1{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 2vmax;
    color: #c26732
}

p{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1vmax;
    color: green
}

.tab-bar{
    background-color: #154734;
    display: flex;
    justify-content: space-evenly;
    padding: 0.6%;
    margin-left: 18%;
    margin-right: 18%;
}

.tab{
    color: white;
    text-decoration: none;
}

.tab:hover{
    cursor: pointer;
}